/* Added styles to make the header stretch to the edges */
.header {
    background-color: #7260C6;
    color: #FFFDF5;
    padding: 10px;
    margin: 0;
    height: 75px;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.header .logo{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.header .logo:hover{
    cursor: pointer;
    filter: brightness(1.1);
}
.header .logo:active{
    filter: brightness(.9);
}
.header .title,
.header .exclusive_content,
.header .community,
.header .videos{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}
.header .title:hover,
.header .exclusive_content:hover,
.header .community:hover,
.header .videos:hover{
    filter: brightness(1.1);
    cursor: pointer;
    color: #3FBB9B;
}
.header .title:active,
.header .exclusive_content:active,
.header .community:active,
.header .videos:active{
    filter: brightness(.9);
}

.brand {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust as needed for desired spacing */
}
