@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.navbar_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #7260C6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.marquee {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    font-size: 10px;
    background: #ffffff;
}

#engage {
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter'
}

#mint {
    color: #B4F2E4;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter'
}