@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000; /* Change background color as needed */
    overflow: hidden;
    z-index: 9999;
    font-family: 'Inter';
    font-weight: bold;
    

}

.marquee {
    display: flex;
    width: 200%; /* two copies side-by-side */
    animation: marquee 10s linear infinite;
    background-color: #FFFDF5;
}

.marquee span {
    flex: 0 0 100%;
    text-align: center;
    color: #000;
    font-size: 16px;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}